#
# Requirement files for Python Virtual Environments
#
# After activation of the env, install it with:
# $ pip install -U pip setuptools
# $ pip install -r .virtualenv.requirements.txt

adal
azure-mgmt-compute<5.0.0
azure-mgmt-resource
azure-mgmt-storage
azure-storage-blob<12.0.0
Flask
flask-restplus
flask-sqlalchemy
flask-migrate
flask-jwt-extended<4.0.0
setuptools>=40.3.0
idna<2.7
boto3
cryptography
PyYAML
PyJWT
APScheduler
python-dateutil>=2.6.0,<2.8.1
amqpstorm
ec2imgutils>=9.0.1
img-proof>=6.2.0
lxml
requests
urllib3
obs-img-utils>=0.3.0
oci
werkzeug<1.0.0
google-auth
google-cloud-storage
google-api-python-client
aliyun-img-utils
