#
# Requirement files for Python Virtual Environments
#
# After activation of the env, install it with:
# $ pip install -U pip setuptools
# $ pip install -r .virtualenv.requirements.txt

setuptools
boto3
jsonschema
PyYAML
PyJWT
APScheduler
python-dateutil>=2.6.0,<2.7.0
strict-rfc3339
amqpstorm
ec2deprecateimg
ec2publishimg
ec2uploadimg
python3-ipa
