#
# Requirement files for Python Virtual Environments
#
# After activation of the env, install it with:
# $ pip install -U pip setuptools
# $ pip install -r .virtualenv.requirements.txt

apache-libcloud
azure-mgmt-compute
azure-mgmt-resource
azure-mgmt-storage
azure-storage
flask
setuptools
idna<2.7
boto3
cryptography>=2.2.0
jsonschema
PyYAML
PyJWT
APScheduler
python-dateutil>=2.6.0,<3.0.0
amqpstorm
ec2deprecateimg
ec2publishimg
ec2uploadimg
python3-ipa
lxml
