# Manifest describing source package contents

graft mash/services
graft mash/utils
graft mash/log
graft package
graft config

include tox.ini
include CHANGES.md
include README.md
include LICENSE

recursive-include doc *.py *.rst

global-exclude *.py[cod] __pycache__

include .virtualenv.dev-requirements.txt
include .virtualenv.requirements.txt
