{% if job_id == '03c5581f-3e56-4136-a406-e067d497ead8' %}
{
    "cloud_architecture": "x86_64",
    "data": {
        "build_time": "1663346334",
        "cloud_image_name": "sles-15-sp3-chost-byos-v20220916-x86-64",
        "image_file": "/mash_storage/images/03c5581f-3e56-4136-a406-e067d497ead8/SLES15-SP3-CHOST-BYOS.x86_64-1.0.12-GCE-Build1.118.tar.gz",
        "object_name": "sles-15-sp3-chost-byos-v20220916-x86-64.tar.gz"
    },
    "download_url": "https://ibs-mirror.prv.suse.net/ibs/SUSE:/SLE-15-SP3:/Update:/PubClouds:/ReleaseCandidate/images",
    "errors": [
    ],
    "failed_service": "test",
    "finish_time": "2022-09-21T09:08:53.738897",
    "image": "SLES15-SP3-CHOST-BYOS",
    "job_id": "03c5581f-3e56-4136-a406-e067d497ead8",
    "last_service": "deprecate",
    "prev_service": "deprecate",
    "profile": "GCE",
    "start_time": "2022-09-21T08:50:22.877432",
    "state": "failed",
    "utctime": "now"
}
{% elif job_id == '03c5581f-3e56-4136-a406-e067d497ead9' %}
{
    "cloud_architecture": "x86_64",
    "data": {
        "build_time": "1663346334",
        "cloud_image_name": "sles-15-sp3-chost-byos-v20220916-x86-64",
        "image_file": "/mash_storage/images/03c5581f-3e56-4136-a406-e067d497ead8/SLES15-SP3-CHOST-BYOS.x86_64-1.0.12-GCE-Build1.118.tar.gz",
        "object_name": "sles-15-sp3-chost-byos-v20220916-x86-64.tar.gz"
    },
    "download_url": "https://ibs-mirror.prv.suse.net/ibs/SUSE:/SLE-15-SP3:/Update:/PubClouds:/ReleaseCandidate/images",
    "errors": [
    ],
    "failed_service": "test",
    "finish_time": "2022-09-21T09:08:53.738897",
    "image": "SLES15-SP3-CHOST-BYOS",
    "job_id": "03c5581f-3e56-4136-a406-e067d497ead9",
    "last_service": "deprecate",
    "prev_service": "deprecate",
    "profile": "AMAZON",
    "start_time": "2022-09-21T08:50:22.877432",
    "state": "success",
    "utctime": "now"
}
{% endif %}
