{% if job_id == '03c5581f-3e56-4136-a406-e067d497ead8' %}
{
    "cloud_architecture": "x86_64",
    "data": {
        "build_time": "1663346334",
        "cloud_image_name": "sles-15-sp3-chost-byos-v20220916-x86-64",
        "image_file": "/mash_storage/images/03c5581f-3e56-4136-a406-e067d497ead8/SLES15-SP3-CHOST-BYOS.x86_64-1.0.12-GCE-Build1.118.tar.gz",
        "object_name": "sles-15-sp3-chost-byos-v20220916-x86-64.tar.gz"
    },
    "download_url": "https://ibs-mirror.prv.suse.net/ibs/SUSE:/SLE-15-SP3:/Update:/PubClouds:/ReleaseCandidate/images",
    "errors": [
    ],
    "failed_service": "test",
    "finish_time": "2022-09-21T09:08:53.738897",
    "image": "SLES15-SP3-CHOST-BYOS",
    "job_id": "03c5581f-3e56-4136-a406-e067d497ead8",
    "last_service": "deprecate",
    "prev_service": "deprecate",
    "profile": "GCE",
    "start_time": "2022-09-21T08:50:22.877432",
    "state": "failed",
    "utctime": "now"
}
{% elif job_id == '03c5581f-3e56-4136-a406-e067d497ead9' %}
{
    "cloud_architecture": "x86_64",
    "data": {
        "build_time": "1663346334",
        "cloud_image_name": "sles-15-sp3-chost-byos-v20220916-x86-64",
        "image_file": "/mash_storage/images/03c5581f-3e56-4136-a406-e067d497ead8/SLES15-SP3-CHOST-BYOS.x86_64-1.0.12-GCE-Build1.118.tar.gz",
        "object_name": "sles-15-sp3-chost-byos-v20220916-x86-64.tar.gz"
    },
    "download_url": "https://ibs-mirror.prv.suse.net/ibs/SUSE:/SLE-15-SP3:/Update:/PubClouds:/ReleaseCandidate/images",
    "errors": [
    ],
    "failed_service": "test",
    "finish_time": "2022-09-21T09:08:53.738897",
    "image": "SLES15-SP3-CHOST-BYOS",
    "job_id": "03c5581f-3e56-4136-a406-e067d497ead9",
    "last_service": "deprecate",
    "prev_service": "deprecate",
    "profile": "AMAZON",
    "start_time": "2022-09-21T08:50:22.877432",
    "state": "success",
    "utctime": "now"
}
{% else  %}
{
    "download_url": "https://dist.nue.suse.com/ibs/SUSE:/SLE-15-SP4:/Update:/PubClouds:/ReleaseCandidate/images",
    "last_service": "publish",
    "notification_email": "public-cloud-dev@suse.de",
    "notify": true,
    "utctime": "now",
    "distro": "sles",
    "cloud_architecture": "x86_64",
    "share_with": "679593333241,684062674729,200836235822,955059815031,582767206473",
    "cloud_image_name": "suse-sles-sap-15-sp4-v20221005-hvm-ssd-x86_64",
    "image_description": "SUSE Linux Enterprise Server for SAP Applications 15 SP4 (HVM, 64-bit, SSD-Backed)",
    "tests": [
        "test_sles",
        "test_sles_ec2",
        "test_sles_sap"
    ],
    "allow_copy": "image",
    "cloud_account": "marketplace",
    "skip_replication": true,
    "image": "SLES15-SP4-SAP",
    "profile": "EC2",
    "old_cloud_image_name": "suse-sles-sap-15-sp4-v20220722-hvm-ssd-x86_64"
}
{% endif %}
