{
  "access_token": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJmcmVzaCI6ZmFsc2UsImlhdCI6MTY2NDc5Njc1NiwianRpIjoiMTE2M2U2ZmItZDJmOS00NDNlLWEzYjUtMjdlNGFkYmFhOTU5IiwidHlwZSI6ImFjY2VzcyIsInN1YiI6IjEyIiwibmJmIjoxNjY0Nzk2NzU2LCJleHAiOjE2NjQ3OTc2NTZ9.scd1AKtALh5j1AYoN0FkNr8SRy0Sjm2-s9Iafzo-SzY",
  "refresh_token": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJmcmVzaCI6ZmFsc2UsImlhdCI6MTY2NDc5Njc1NiwianRpIjoiMTE2M2U2ZmItZDJmOS00NDNlLWEzYjUtMjdlNGFkYmFhOTU5IiwidHlwZSI6ImFjY2VzcyIsInN1YiI6IjEyIiwibmJmIjoxNjY0Nzk2NzU2LCJleHAiOjE2NjQ3OTc2NTZ9.scd1AKtALh5j1AYoN0FkNr8SRy0Sjm2-s9Iafzo-SzY"
}