{
    "id": "{{ random.int(4000, 100000) }}",
    "name": "{{ account_name }}",
    "region": "{{ fake.country_code() | lower }}-{{ ["north", "east", "west", "south"] | random }}-{{ random.int(1,3)}}",
    "bucket": "{{['test', 'production', 'new'] | random }}-{{ ['images', 'containers', 'distributions'] | random }}-bucket",
    "testing_account": "{{['public', 'private', 'preview'] | random }}-{{['publishing', 'testing'] | random }}-account",
    "is_publishing_account": {{ [true, false] | random | lower }}
}