[Unit]
Description=Mash testing service
After=syslog.target network.target
Before=systemd-user-sessions.service

[Service]
User=mash
Group=mash
Type=simple
ExecStart=/usr/bin/mash-testing-service
StandardOutput=journal
Restart=always

[Install]
WantedBy=multi-user.target
