[Unit]
Description=Mash Deprecation service
After=syslog.target network.target
Before=systemd-user-sessions.service

[Service]
Type=simple
ExecStart=/usr/bin/mash-deprecation-service
StandardOutput=null
Restart=always

[Install]
WantedBy=multi-user.target
