[Unit]
Description=Mash Credentials service
After=syslog.target network.target rabbitmq-server.service
Before=systemd-user-sessions.service

[Service]
User=mash
Group=mash
Type=simple
ExecStart=/usr/bin/mash-credentials-service
StandardOutput=journal
Restart=always

[Install]
WantedBy=multi-user.target
