[Unit]
Description=Mash replication service
After=syslog.target network.target
Before=systemd-user-sessions.service

[Service]
Type=simple
ExecStart=/usr/bin/mash-replication-service
StandardOutput=null
Restart=always

[Install]
WantedBy=multi-user.target
