{
    "id": "{{ random.int(4000, 100000) }}",
    "name": "{{ account_name }}",
    "region": "{{ request.json.region | default("my_default_region",false) }}",
    "source_container": "{{ request.json.source_container | default("my_default_source_container",false)}}",
    "source_resource_group": "{{ request.json.source_resource_group | default("my_source_resource_group",false) }}",
    "source_storage_account": "{{ request.json.source_storage_account | default("my_default_source_storage_account",false)}}"
}
