{
    "bucket": "{{['test', 'production', 'new'] | random }}-{{ ['images', 'containers', 'distributions'] | random }}-bucket",
    "id": "{{ random.int(4000, 100000) }}",
    "name": "{{ account_name }}",
    "region": "{{ fake.country_code() | lower }}-{{ ["north", "east", "west", "south"] | random }}-{{ random.int(1,3)}}",
    "security_group_id": "sg-{{ fake.hexify(text='^^^^^^^^')}}",
    "vswitch_id": "vsw-{{ fake.hexify(text='^^^^^^^^')}}",
}